FixedAssetsApp/FixedAssetsApp/Service References/FixedAssetsWebService/EF_ZMTdbEntities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/EF_ZMTdbEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EF_ZMTdbEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Contractor">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="FixedAssets" nillable="true" type="tns:TrackableCollectionOfFixedAssetoibhSSrU" />
      <xs:element minOccurs="0" name="account_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nip" type="xs:int" />
      <xs:element minOccurs="0" name="postal_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="street" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Contractor" nillable="true" type="tns:Contractor" />
  <xs:complexType name="ObjectChangeTracker">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExtendedProperties" nillable="true" type="tns:ExtendedPropertiesDictionary" />
      <xs:element minOccurs="0" name="ObjectsAddedToCollectionProperties" nillable="true" type="tns:ObjectsAddedToCollectionProperties" />
      <xs:element minOccurs="0" name="ObjectsRemovedFromCollectionProperties" nillable="true" type="tns:ObjectsRemovedFromCollectionProperties" />
      <xs:element minOccurs="0" name="OriginalValues" nillable="true" type="tns:OriginalValuesDictionary" />
      <xs:element minOccurs="0" name="State" type="tns:ObjectState" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ObjectChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
  <xs:complexType name="ExtendedPropertiesDictionary">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtendedProperties">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name" nillable="true" type="xs:string" />
            <xs:element name="ExtendedProperty" nillable="true" type="xs:anyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExtendedPropertiesDictionary" nillable="true" type="tns:ExtendedPropertiesDictionary" />
  <xs:complexType name="ObjectsAddedToCollectionProperties">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddedObjectsForProperty">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CollectionPropertyName" nillable="true" type="xs:string" />
            <xs:element name="AddedObjects" nillable="true" type="tns:ObjectList" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectsAddedToCollectionProperties" nillable="true" type="tns:ObjectsAddedToCollectionProperties" />
  <xs:complexType name="ObjectList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ObjectValue" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectList" nillable="true" type="tns:ObjectList" />
  <xs:complexType name="ObjectsRemovedFromCollectionProperties">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeletedObjectsForProperty">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CollectionPropertyName" nillable="true" type="xs:string" />
            <xs:element name="DeletedObjects" nillable="true" type="tns:ObjectList" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectsRemovedFromCollectionProperties" nillable="true" type="tns:ObjectsRemovedFromCollectionProperties" />
  <xs:complexType name="OriginalValuesDictionary">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OriginalValues">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name" nillable="true" type="xs:string" />
            <xs:element name="OriginalValue" nillable="true" type="xs:anyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OriginalValuesDictionary" nillable="true" type="tns:OriginalValuesDictionary" />
  <xs:simpleType name="ObjectState">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Unchanged" />
          <xs:enumeration value="Added" />
          <xs:enumeration value="Modified" />
          <xs:enumeration value="Deleted" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="ObjectState" nillable="true" type="tns:ObjectState" />
  <xs:complexType name="TrackableCollectionOfFixedAssetoibhSSrU">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TrackableCollectionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/EF_ZMTdbEntities" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="FixedAsset" Namespace="http://schemas.datacontract.org/2004/07/EF_ZMTdbEntities">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FixedAsset" nillable="true" type="tns:FixedAsset" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackableCollectionOfFixedAssetoibhSSrU" nillable="true" type="tns:TrackableCollectionOfFixedAssetoibhSSrU" />
  <xs:complexType name="FixedAsset">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="Contractor" nillable="true" type="tns:Contractor" />
      <xs:element minOccurs="0" name="Devices" nillable="true" type="tns:TrackableCollectionOfDeviceoibhSSrU" />
      <xs:element minOccurs="0" name="Licences" nillable="true" type="tns:TrackableCollectionOfLicenceoibhSSrU" />
      <xs:element minOccurs="0" name="MPK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Person" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="Subgroup" nillable="true" type="tns:Subgroup" />
      <xs:element minOccurs="0" name="cassation" type="xs:boolean" />
      <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="created_by" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date_of_activation" type="xs:dateTime" />
      <xs:element minOccurs="0" name="date_of_desactivation" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_contractor" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id_kind" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id_person" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id_subgroup" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="inventory_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_modifed_login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_modified_date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="localization" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="quantity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="serial_number" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="FixedAsset" nillable="true" type="tns:FixedAsset" />
  <xs:complexType name="TrackableCollectionOfDeviceoibhSSrU">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TrackableCollectionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/EF_ZMTdbEntities" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Device" Namespace="http://schemas.datacontract.org/2004/07/EF_ZMTdbEntities">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Device" nillable="true" type="tns:Device" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackableCollectionOfDeviceoibhSSrU" nillable="true" type="tns:TrackableCollectionOfDeviceoibhSSrU" />
  <xs:complexType name="Device">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="FixedAsset" nillable="true" type="tns:FixedAsset" />
      <xs:element minOccurs="0" name="PeripheralDevice" nillable="true" type="tns:PeripheralDevice" />
      <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_fixed_asset" type="xs:int" />
      <xs:element minOccurs="0" name="id_peripheral_device" type="xs:int" />
      <xs:element minOccurs="0" name="ip_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mac_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="producer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serial_number" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Device" nillable="true" type="tns:Device" />
  <xs:complexType name="PeripheralDevice">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="Devices" nillable="true" type="tns:TrackableCollectionOfDeviceoibhSSrU" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="PeripheralDevice" nillable="true" type="tns:PeripheralDevice" />
  <xs:complexType name="Subgroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="FixedAssets" nillable="true" type="tns:TrackableCollectionOfFixedAssetoibhSSrU" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="short_name" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Subgroup" nillable="true" type="tns:Subgroup" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="FixedAssets" nillable="true" type="tns:TrackableCollectionOfFixedAssetoibhSSrU" />
      <xs:element minOccurs="0" name="Section" nillable="true" type="tns:Section" />
      <xs:element minOccurs="0" name="area_code" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_section" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone_number" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="phone_number2" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="Section">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="People" nillable="true" type="tns:TrackableCollectionOfPersonoibhSSrU" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="locality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="post" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="postal_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="short_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="street" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Section" nillable="true" type="tns:Section" />
  <xs:complexType name="TrackableCollectionOfPersonoibhSSrU">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TrackableCollectionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/EF_ZMTdbEntities" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Person" Namespace="http://schemas.datacontract.org/2004/07/EF_ZMTdbEntities">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="tns:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackableCollectionOfPersonoibhSSrU" nillable="true" type="tns:TrackableCollectionOfPersonoibhSSrU" />
  <xs:complexType name="Licence">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="FixedAsset" nillable="true" type="tns:FixedAsset" />
      <xs:element minOccurs="0" name="Kind" nillable="true" type="tns:Kind" />
      <xs:element minOccurs="0" name="MembershipUser" nillable="true" type="tns:MembershipUser" />
      <xs:element minOccurs="0" name="assign_fixed_asset" type="xs:int" />
      <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="created_by" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_kind" type="xs:int" />
      <xs:element minOccurs="0" name="id_number" type="xs:int" />
      <xs:element minOccurs="0" name="inventory_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_modified_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="last_modified_login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="licence_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Licence" nillable="true" type="tns:Licence" />
  <xs:complexType name="Kind">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="Licences" nillable="true" type="tns:TrackableCollectionOfLicenceoibhSSrU" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Kind" nillable="true" type="tns:Kind" />
  <xs:complexType name="TrackableCollectionOfLicenceoibhSSrU">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TrackableCollectionOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/EF_ZMTdbEntities" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Licence" Namespace="http://schemas.datacontract.org/2004/07/EF_ZMTdbEntities">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Licence" nillable="true" type="tns:Licence" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackableCollectionOfLicenceoibhSSrU" nillable="true" type="tns:TrackableCollectionOfLicenceoibhSSrU" />
  <xs:complexType name="MembershipUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="Licences" nillable="true" type="tns:TrackableCollectionOfLicenceoibhSSrU" />
      <xs:element minOccurs="0" name="PLKLogin" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="creation_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="is_active" type="xs:boolean" />
      <xs:element minOccurs="0" name="is_online" type="xs:boolean" />
      <xs:element minOccurs="0" name="last_login_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="MembershipUser" nillable="true" type="tns:MembershipUser" />
  <xs:complexType name="MembershipRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="MembershipRole" nillable="true" type="tns:MembershipRole" />
</xs:schema>